@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #12BA52;
  font-family: 'Uchen', serif;
  margin: 50px 100px;
  font-size: 80%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 20px 20px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  margin: 30px;
  width: 400px;
  border-radius: 60% 40% 40% 20% / 70% 60% 30% 25%;
  box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, .2);
  background-color: #127ABA;
}

a,
h1 {
  font-family: 'Uchen', serif;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 180%;
}

a:hover {
  text-decoration: none;
}

#click-logo {
  background-color: transparent;
  border-color: transparent;
}

#logo {
  height: 80px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#text {
  width: 100%;
  text-align: justify;
  margin: 0 50px 50px;
}

h2 {
  text-align: center;
  font-size: 200%;
}

p {
  color: white;
  font-family: 'Uchen', serif;
  font-size: 110%;
}

.box {
  justify-content: center;
  flex: 30%;
  margin: 0;
}

img,
.box {
  height: 300px;
  border-radius: 10%;
}

.story-box {
  background-color: #ffffff;
  box-shadow: 5px 5px 1px 1px rgba(0, 0, 255, .2);
  height: 500px;
  width: 700px;
  padding: 100px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #127ABA;

}

#first-box {
background-color: #FFFAC2;
border-radius: 33% 67% 58% 42% / 71% 37% 63% 29%;
}

#second-box {
  background-color: #FFFAC2;
border-radius: 69% 31% 58% 42% / 36% 46% 54% 64%;
}

/*
#third-box {
border-radius: 100px 100px 0px 100px;
}
*/

#fourth-box {
background-color: #FFFAC2;
border-radius: 27% 73% 43% 57% / 53% 51% 49% 47%;
}

.story {
  color: #260303;
  font-family: 'Uchen', serif;
}

#story-box-duck {
  height: 80px;
}


footer {
  margin-top: 30px;
}

.footer {
  color: white;
  text-align: right;
  margin: 30px;

}


@media screen and (max-width: 1800px) {
   .box {
     display: flex;
     flex-wrap: wrap;
     flex: 30%;
     margin: 0;
  }
  img,
  .box {
    height: 200px;
  }
}

@media screen and (max-width: 992px) {
   .box {
    display: flex;
    flex: 50%;
    flex-wrap: wrap;
    margin: 30px;
  }
}
