@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: "Big Shoulders Stencil Display", cursive;
  margin: 50px 100px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  margin: 30px;
  width: 400px;
}
a,
h1 {
  font-family: "Big Shoulders Stencil Display", cursive;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

a:hover {
  font-family: "Big Shoulders Stencil Display", cursive;
  color: orange;
  text-decoration: none;
}

#click-logo {
  background-color: transparent;
  border-color: transparent;
}

#logo {
  height: 80px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#text {
  width: 70%;
}

#text,
h3 {
  color: white;
}

#text,
p {
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 100px 20px;
}

.box {
  justify-content: center;
  flex: 30%;
  margin: 0;
}

img,
.box {
  height: 300px;
  border-radius: 25%;
}

#story-box {
  background-color: pink;
  border-radius: 5%;
  height: 200px;
  width: 70%;
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#story-box-duck {
  height: 100px;
}


footer {
  margin-top: 30px;
}

.footer {
  color: white;
  text-align: right;
  margin: 30px;

}


@media screen and (max-width: 1800px) {
   .box {
     display: flex;
     flex-wrap: wrap;
     flex: 30%;
     margin: 0;
  }
  img,
  .box {
    height: 200px;
  }
}

@media screen and (max-width: 992px) {
   .box {
    display: flex;
    flex: 50%;
    flex-wrap: wrap;
    margin: 30px;
  }
}
